<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div id="main-menu" class="main-menu">
  <ul>
    <li><a href="{{site.baseurl}}/features/" class="{% if page.url contains 'features' %}current{% endif %}">Features</a></li>
    <li><a href="https://docs.hyperconnect.io/" target="_blank">Documentation</a></li>
    <li><a href="https://forum.cyberrepublic.org/c/hyperconnect" target="_blank">Community</a></li>
    <li><a href="https://github.com/cyber-republic?utf8=✓&q=hyperconnect" target="_blank"><i class='fa fa-github'></i> GitHub</a></li>
    <!-- Edit here. To add: Advantages, Use Cases, News (blog)

    <li><a href="{{site.baseurl}}/team/" class="{% if page.url contains 'team' %}current{% endif %}">Team</a></li>
    <li><a href="{{site.baseurl}}/testimonials/" class="{% if page.url contains 'testimonials' %}current{% endif %}">Testimonials</a></li>
    <li><a href="{{site.baseurl}}/contact/" class="{% if page.url contains 'contact' %}current{% endif %}">Contact</a></li>
    -->
  </ul>
</div>
